[instaweb]
  httpd = webrick

[core]
  repositoryformatversion = 0
  filemode = true
  bare = false
  logallrefupdates = true
  ignorecase = true
  autocrlf = false
  safecrlf = true
  editor = /usr/bin/vim
  preloadindex = true
  quotepath = false
  mergeoptions = --no-edit
  excludesfile = ~/.gitignore

[merge]
  tool = opendiff

[branch]
  autosetupmerge = true

[push]
  default = tracking

[user]
  email = me@mgeraci.com
  name = Michael P. Geraci

[alias]
  c = !git add -A && git commit -m

  # amending the previous commit
  ca = commit --amend -m
  caa = commit -a --amend -C HEAD

  # reset
  ## soft resets
  r = reset
  r1 = reset HEAD^
  r2 = reset HEAD^^
  ## hard resets
  rh = reset --hard
  rh1 = reset HEAD^ --hard
  rh2 = reset HEAD^^ --hard

  # shortcuts for commands
  s = status
  d = diff
  a = add
  co = checkout
  m = merge
  b = branch
  l = log --graph --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
  f = fetch
  r = reset
  ps = push
  pl = pull

  staging = push staging develop:master

[color]
  ui = true

[credential]
  helper = osxkeychain
